.team {
    @extend %section;
    @extend %container;
    background-color: #F5F4FA;
}

.team-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    color: var(--title-text-color);
}

.team-list {
    @extend %list;
    display: flex;
    justify-content: space-between;

    & .description {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    }
}

.team-list-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--title-text-color);
}

.team-list-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
}

.socialmedia-list {
    @extend %list;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialmedia-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: none;
    border-radius: 50%;
    
    transition: color var(--animation-time) var(--animation-timing-function), background-color var(--animation-time) var(--animation-timing-function);

    &:hover,
    &:focus {
    color: var(--primary-background-color); 
    background-color: var(--accent-color);
    }
}

.socialmedia-svg {
    fill: currentColor;
}